.pp-box-layout {
	width: 200px;
}
.pp-label {
	/*text-align: right;*/
	width:120px;
}

.pp-value {
	text-align: right;
	width:40px;
}

.pp-unit-label {
	padding: 0 2px 0 2px;
}

.warning {
	color: red;
}
